@{
    ViewBag.Title = "Créditos";
}

<div class="container mt-5">
    <h2 class="text-center">Créditos</h2>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <p>Este proyecto fue desarrollado por:</p>
            <ul>
                <li>Ezequiel Berakla</li>
                <li>Jazmin beigel</li>
            </ul>
        </div>
    </div>
</div>
