@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <div class="jumbotron text-center bg-light p-5 rounded">
        <img src="~/img/banner.png"/>
        <h1 class="display-4">Bienvenidos a los JJOO</h1>
        <p class="lead">Descubre todo sobre los deportes, países y atletas participantes en los Juegos Olímpicos.</p>
        <hr class="my-4">
        <p>Explora las distintas secciones para conocer más detalles.</p>
    </div>
</div>
